@import "./_extensions";
@import "./_variables.scss";
@import "./_acc_mixin.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
}
  body {
    font-size: 16px;
    font-family: $montserrat;
  }
  
.header {
  @include padding__tp__bt();
    background-color: rgb(243, 243, 243);
    .accord__text {
        font-size: 42px;
        font-family: $playfair__display;
        font-weight: 500;
    }
}



.accordion__body {
  @include padding__tp__bt();
    .accordion-content {
        position: relative;
        border: 1px solid rgb(205, 204, 204);
        background-color: rgb(255, 255, 255);
        color: rgb(79, 79, 79);
        cursor: pointer;
        padding: 16px;
        width: 94%;
        text-align: left;
        outline: none;
        font-size: 13px;
        font-weight: 400;
        transition: 0.5s;
        &:hover {
            .plus__left {
                display: none;
            }
            .la-minus {
                display: block;
            }
        }
      }
    
    .plus__left {
        position: absolute;
        @include icon__top__left();
        font-size: 14px;
       transition: transform 250ms ease-in-out;
    }
   
    .la-minus {
        display: none;
        position: absolute;
        @include icon__top__left();
        font-size: 14px;
        
    }
    .la-minus:hover {
        display: block;
    }
    .active .la-minus {
        display: block;
    }

    .active .plus__left {
        display: none;
      }
    .active, .accordion-content:hover {
        background-color:  #fa1500;
        color: white; 
      }
      
      .body {
        height: 0;
        opacity: 0;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        position: relative;
        width: 94%;
        padding: 0 20px;
        overflow-y: auto;
      }
      .padding__top {
        padding-top: 150px;
      }
      .accordion-content__2 {
        position: relative;
        border: none;
        border-bottom: 1px solid rgb(205, 204, 204);
        background-color: rgb(255, 255, 255);
        color: rgb(79, 79, 79);
        cursor: pointer;
        padding: 16px;
        width: 94%;
        text-align: left;
        outline: none;
        font-size: 13px;
        font-weight: 400;
        transition: 0.5s;
        &:hover {
            .plus__left {
                display: none;
            }
            .la-minus {
                display: block;
            }
        }
      }
      .active, .accordion-content__2:hover {
        background-color:  white;
        color: rgb(251, 39, 39); 
      }
      .p__font-size {
        font-size: 14px;
        line-height: 18px;
        color: rgb(79, 79, 79);
        letter-spacing: 0.02rem;
      }
}
