/*7.SECTION*/
@import "./_extensions.scss";
@import "./_variables.scss";
@import "./_home_mixin.scss";


.slide__bottom {
   
    padding-top: 85px;
    padding-bottom: 110px;
   
  .container {
    margin-top: 2rem !important;
    margin-left: 18rem !important;
    margin-right: 18rem !important;
    }
  .Slides {
    display: none;
  }
  .img-size {
   width: 85px;
   height: 85px;
   margin-left: 45%;
  }
  .row {
  --bs-gutter-x: 0;
  }
  .img-opacity {
  direction: 'vertical';
  opacity: 0.6;
  cursor: pointer;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  transition: 0.3s;
  }
  .active,
  .img-opacity:hover {
  opacity: 1;
  }
  .rowtext {
  position: absolute;
  color: #f2f2f2;
  background-color: rgba(90, 88, 88, 0.7);
  border-radius: 25%;
  font-size: 14px;
  padding: 7px 12px;
  top: 28%;
  left: 93.5%;
  }
  .prev,
  .next {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 2px;
    margin-top: -50px;
    color: #939393;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10%;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.3s;
  }
  .prev:hover {
      color: #515151;
  }
  .next:hover {
      color: #515151;
  }
  .next {
    right: 0;
    border-radius: 5px 0 0 5px;
  }
  
  p {
    font-family: Lora,serif;
    font-style: italic;
    font-size: 26px;
    color: #4c4949;
    line-height: 1.2em;
  }
  .anime {
    animation-name: anime;
    animation-duration: 2s;
  
  }
  
  @keyframes anime {
      from {opacity: 0.8;} 
      to {opacity: 1;}
  }
 
}