
.col__width__1 {
    flex: 0 0 auto;
    width: 8.33%;
  }
.col__width__2 {
    flex: 0 0 auto;
    width: 16.67%;
  }
  .col__width__3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col__width__4 {
    flex: 0 0 auto;
    width: 33.33%;
  }
  .col__width__5 {
    flex: 0 0 auto;
    width: 41.67%;
  }
  .col__width__6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col__width__7 {
    flex: 0 0 auto;
    width: 58.33%;
  }
  .col__width__8 {
    flex: 0 0 auto;
    width: 66.67%;
  }
  .col__width__9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col__width__10 {
    flex: 0 0 auto;
    width: 83.33%;
  }
  .col__width__11 {
    flex: 0 0 auto;
    width: 91.67%;
  }
  .col__width__12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .marg__left__right {
    margin-left: 8%;
    margin-right: 8%;
  }
  .justify__content__start {
    justify-content: flex-start;
  }
  
  .justify__content__end {
    justify-content: flex-end;
  }
  
  .justify__content__center {
    justify-content: center;
  }
  
  .justify__content__between {
    justify-content: space-between;
  }
  
  .justify__content__around {
    justify-content: space-around;
  }
  
  .justify__content__evenly {
    justify-content: space-evenly;
  }
  
  .align__items__start {
    align-items: flex-start;
  }
  
  .align__items__end {
    align-items: flex-end;
  }
  
  .align__items__center {
    align-items: center;
  }

  .align__content__start {
    align-content: flex-start;
  }
  
  .align__content__end {
    align-content: flex-end;
  }
  
  .align__content__center {
    align-content: center;
  }
  
  .d_flex {
    display: flex;
  }
  .margin__bt__05 {
    margin-bottom: 0.5rem;
  }
  .margin__bt__1 {
    margin-bottom: 1rem;
  }
  .margin__bt__2 {
    margin-bottom: 1.75rem;
  }
  .margin__bt__3 {
    margin-bottom: 2.5rem;
  }
  .margin__bt__4 {
    margin-bottom: 3rem;
  }
  .margin__bt__5 {
    margin-bottom: 4rem;
  }
  .margin__tp__05 {
    margin-top: 0.5rem;
  }
  .margin__tp__1 {
    margin-top: 1rem;
  }
  .margin__tp__2 {
    margin-top: 1.75rem;
  }
  .margin__tp__3 {
    margin-top: 2.5rem;
  }
  .margin__tp__4 {
    margin-top: 3rem;
  }
  .margin__tp__5 {
    margin-top: 4rem;
  }
  .margin__right__1 {
    margin-right: 0.5rem;
  }
  .margin__right__2 {
    margin-right: 1rem;
  }
  .margin__right__3 {
    margin-right: 1.5rem;
  }
  .margin__right__4 {
    margin-right: 2rem;
  }
  .margin__right__5 {
    margin-right: 3rem;
  }
  .margin__left__1 {
    margin-left: 0.5rem;
  }
  .margin__left__2 {
    margin-left: 1rem;
  }
  .margin__left__3 {
    margin-left: 1.5rem;
  }
  .margin__left__4 {
    margin-left: 2rem;
  }
  .margin__left__5 {
    margin-left: 3rem;
  }
  .w-100{
    width: 100%;
  }
  .w-90{
    width: 90%;
  }
  .w-80{
    width: 80%;
  }
  .w-70{
    width: 70%;
  }
  .w-65{
    width: 65%;
  }
  .w-60{
    width: 60%;
  }
  .w-55{
    width: 55%;
  }
  .w-50{
    width: 50%;
  }
  .w-40{
    width: 40%;
  }
  .w-30{
    width: 30%;
  }
  .w-20{
    width: 20%;
  }
  .w-10{
    width: 10%;
  }
  .text_red {
    color: #f34f3f;
  }
  .text_gray {
    color: #6d6a6a;
  }
  .text_black {
    color: #2b2b2b;
  }
  .text_white {
    color: white;
  }
  .position__relative {
    position: relative;
  }
  .position__absolute {
    position: absolute;
  }
  .padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .text__center {
    text-align: center;
  }

  .font__sz__1 {
    font-size: 1rem;
  }
  .font__sz__2 {
    font-size: 1.25rem;
  }
  .font__sz__3 {
    font-size: 1.5rem;
  }
  .font__sz__4 {
    font-size: 1.75rem;
  }
  .font__sz__5 {
    font-size: 2rem;
  }
  .font__sz__6 {
    font-size: 2.5rem;
  }
  .font__sz__7 {
    font-size: 2.75rem;
  }
  .font__sz__8 {
    font-size: 3rem;
  }
  .flex__wrap {
    flex-wrap: wrap;
  }
  
  