
  
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
    align-items: center;
    padding: 2px 0;
    img {
      width: 220px;
    }
    i {
      font-size: 26px;
      vertical-align: middle;
    }
    .cart {
      font-size: 12px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.1em;
      color: #1b1b1b;
      text-transform: uppercase;
    }
    &__menu {
      // padding-right:4.5rem;
      .second__menu {
        position: absolute;
        opacity: 0;
        overflow: auto;
        top: 100%;
        box-shadow: 0 5px 5px 0 rgb(0 0 0 / 3%);
        left: -1.6rem;
        transition: 0.5s ease-in-out;
        transition-delay: 0.1s;
        
        &__item {
          display: block;
          width: 210px;
          height: auto;
          text-transform: capitalize;
          font-weight: 500;
          a {
            display: block;
            margin: 0;
            padding: 8px 26px;
            color: #737373;
            font-size: 13px;
            line-height: 19px;
          }
         
        }
        
      }
      &__dropdown {
        position: relative;
        display: flex;
        display: inline;
        text-transform: uppercase;
        margin-right: 2.5rem;
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.1em;
        padding: 2rem 0;
        
        a {
          text-decoration: none;
          color: #1b1b1b;
          span{
            color: #737373;
          }
        }
      }
      .second__menu__shop{
        position: absolute;
        opacity: 0;
        overflow: auto;
        top: 100%;
        display: flex;
        justify-content: space-between;
        width: 1100px;
        box-shadow: 0 5px 5px 0 rgb(0 0 0 / 3%);
        right: -27rem;
        transition: 0.5s ease-in-out;
        transition-delay: 0.1s;
        padding-left: 2rem;
        padding-right: 2rem;
        &__items{
          display: inline-block;
          font-family: 'Playfair Display', serif;
          font-size: 22px;
          text-transform: none;
          line-height: 1.1em;
          color: #1b1b1b;
          height: 400.188px;
          .shop__pages{
            display: block;
            color: #737373;
            font-size: 13px;
            line-height: 19px;
            display: inline;
            font-family: "Montserrat", sans-serif;
            margin-bottom: 1rem;
            
            &__lists{
              padding: 8px 0;
              display: block;
              
            }
          }
        }
      }
     
    }
    .right__side{
     
      &__items{
        
        display: block;
          width: 210px;
          height: auto;
          text-transform: capitalize;
          font-weight: 500;
      }
    }
  }
    .h1{
      color: #0e0e0e;
    font-size: 50px;
    line-height: 1.32em;
    font-family: "Playfair Display",serif;
    font-weight: 400;
    }
  .navbar__menu__dropdown:hover .second__menu {
    opacity: 1;
    z-index: 2;
  }
  .navbar__menu__dropdown:hover .second__menu__shop{
    opacity: 1;
  }
  .bottom__line {
    display: inline-block;
    color: #000;
    text-decoration: none;
  }
  .bottom__line::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.3s;
  }
  
  .bottom__line:hover::after {
    width: 100%;
  }
          
 .font__size{
  font-size: 10px !important;
 }   
 #search__input{
  display: none;
 } 