/*2.SECTION*/
@import "./_extensions.scss";
@import "./_variables.scss";
@import "./_home_mixin.scss";


.all {
  
    padding-top: 55px;
    padding-bottom: 55px;
  
    &__list__type__none {
      list-style-type: none;
    }
    &__button__decor {
      border: none;
      background-color: white;
      cursor: pointer;
      font-family: $montserrat;
      font-size: 14px;
      transition: 0.3s;
      &:hover {
        color: $hover__clr__red;
      }
    }
      .filter__menu {
        .second__menu {
         
          opacity: 0;
          overflow: auto;
          top: 100%;
          box-shadow: 0 5px 5px 0 rgb(0 0 0 / 3%);
          left: -1.6rem;
          .second__menu__item {
            display: block;
            width: 210px;
            height: auto;
            text-transform: capitalize;
            font-weight: 500;
            a {
              display: block;
              margin: 0;
              padding: 8px 26px;
              color: #737373;
              font-size: 13px;
              line-height: 19px;
            }
          }
          
        }
        &__dropdown {
          @include relative__flex();
          display: inline;
          text-transform: uppercase;
          margin-right: 2.5rem;
          font-size: 14px;
          font-weight: 500;
          line-height: 22px;
          padding: 2rem 0;
          
          a {
            text-decoration: none;
            span{
              color: #737373;
            }
          }
        }
        .filter__icon {
          transition: 0.3s;
          color: black;
          &:hover {
            rotate: 180deg;
          }
        }
        .second__menu__filter{
          background-color: white;
          position: absolute;
          opacity: 0;
          overflow: auto;
          top: 75%;
          display: flex;
          justify-content: space-between;
          width: 350px;
          box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
          right: -7rem;
          transition: 0.25s ease-in-out;
          padding-left: 2rem;
          padding-right: 2rem;
          &__items{
            display: inline-block;
            font-family: $playfair__display;
            font-size: 18px;
            text-transform: none;
            line-height: 1.1em;
            color: #1b1b1b;
            height: 250px;
            .filter__pages{
              display: block;
              color: #737373;
              font-size: 13px;
              line-height: 14px;
              display: inline;
              font-family: $montserrat;
              margin-bottom: 1rem;
              &__list{
                padding: 8px 0;
                display: block;
              }
            }
          }
        }
      }
      .filter__menu__dropdown:hover .second__menu__filter{
        opacity: 1;
        z-index: 6;
      }
      .bottom__text {
        display: inline-block;
        color: rgb(55, 55, 55);
        text-decoration: none;
        font-size: 13px;
        transition: 0.3s;
      }
      .bottom__text:hover {
        color: black;
        margin-left: 7px;
      }
      .image__size {
        width: 91%;
        scale: 100%;
        transition: 0.3s;
        &:hover {
          scale: 106%;
        }
      }
      .p__font__sz {
        font-size: 13px;
        letter-spacing: 0.05rem;
        cursor: pointer;
      }
      .add {
        text-decoration: none;
        color: black;
        display: none;
      }
      .span__font__sz {
        font-size: 12px;
        letter-spacing: 0.05rem;
      }
      .sold__position {
        top:3%;
        left:10%;
        color: white;
        background-color: rgb(26, 26, 26);
        padding: 5px 13px;
        letter-spacing: 1px;
        font-family: $playfair__display;
        font-size: 16px;
      }
      .sale__position {
        top:3%;
        left:10%;
        color: black;
        background-color: white;
        padding: 5px 13px;
        letter-spacing: 1px;
        font-family: $playfair__display;
        font-size: 16px;
      }
      .disp__none {
        float: left;
        display: none;
      }
      .show {
        display: block;
      }
      @media (max-width:576px) {
        
        .resp {
          width: 100%;
          flex-direction: column;
        }
        .resp_none {
          display: none;
        }
      }
      @media (min-width:576px) and (max-width:768px)  {
        .resp {
          width: 50%;
          flex-direction: column;
        }
        .resp_none {
          display: none;
        }
      }
      @media (min-width:768px) and (max-width:992px)  {
        .resp {
          width: 33.33%;
          flex-direction: column;
          margin-top: 1rem;
        }
        .resp_none {
          display: none;
        }
      }
      @media (min-width:992px) and (max-width:1200px)  {
        .resp {
          width: 25%;
          flex-direction: column;
        }
        .resp_none {
          display: none;
        }
      }
    }

   