@import "./_extensions.scss";
@import './_about.scss';
@import './_faq.scss';
@import './_contact.scss';
@import './_portfolio.scss';
@import './_navbar.scss';
@import './_shop__products__standard.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  

  