@import "./_extensions.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }

  
.slide__top {

.font-size {
  font-size: 21px;
  font-style: normal;
}

&__text__absolute {
  top:16%;
  left:10%;
}
  
.top__slides {
    display: none;
}
&__img-size {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 475px;
  animation-name: slide-anime-1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes slide-anime-1 {
  from {background-size: 100%;}
  to {background-size: 112%;}
}
&__img-size-first {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 475px;
  animation-name: slide-anime-2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes slide-anime-2 {
  from {background-size: 112%;}
  to {background-size: 100%;}
}
.slidetext__font__size {
  font-family: "Playfair Display",serif;
      font-weight: 400;
      font-size: 38px;
}
.row {
--bs-gutter-x: 0;
}
&__rowtext {
position: absolute;
color: #f2f2f2;
background-color: rgba(90, 88, 88, 0.7);
border-radius: 25%;
font-size: 14px;
padding: 7px 12px;
top: 42%;
left: 96%;
}
&__prev,
&__next {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 2px;
  margin-top: -50px;
  color: #939393;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10%;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.3s;
}
&__prev:hover {
    color: #515151;
}
&__next:hover {
    color: #515151;
}
&__next {
  right: 0;
}
&__prev {
  left: 1%;
}

p {
  font-family: Lora,serif;
  font-style: italic;
  font-size: 26px;
  color: #4c4949;
  line-height: 1.2em;
}
&__anime {
    animation-name: anime;
    animation-duration: 2s;

}

@keyframes anime {
    from {opacity: 0.75;} 
    to {opacity: 1;}
}

}
  .valentine {
    background-color: rgb(240, 240, 240);

    &__image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      transition: 0.6s;
      &:hover {
        background-size: 110%;
      }
    }
   
    &__icon__size-color {
      font-size: 18px;
      color: red;
    }
   
    &__font__size {
      font-family: "Playfair Display",serif;
      font-weight: 400;
      font-size: 38px;
    }
    
    .video__button {
      width: 95px;
      height: 95px;
      border-radius: 50%;
      border: none;
      top:35%;
      left:42%;
    }
    
    .la-play {
      font-size: 40px;
    }
  }

  .flowers__experts {
    .font__size {
      font-family: "Playfair Display",serif;
      font-weight: 400;
      font-size: 38px;
    }
    &__h5__size {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 13px;
    }
  }

  .subscribe {
    background-image: url(/Images/home_images/h3-background-img.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y:-130%;
    &__padding {
      padding-top: 185px;
      padding-bottom: 185px;
    }
    .input__group {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      align-items: stretch;
      width: 100%;
    }
    .form {
      width: 35%;
      padding: 22px 11px;
      border: none;
    }
    .btn-subscribe {
      width: 12%;
      border: none;
      background-color: #f34f3f;
      transition: 0.3s;
      &:hover {
        background-color: #da4538;
      }
    }
    .h2__font-size {
      font-family: "Playfair Display",serif;
      font-weight: 400;
      font-size: 30px;
    }
  }

  .blog {
    background-color: rgb(240, 240, 240);
    h2, h5 {
      font-family: "Playfair Display",serif;
      font-weight: 400;
    }
    &__padding {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    &__img__size {
      width: 95%;
    }
    &__date {
      border: none;
      background-color: white;
      padding: 8px 16px;
      top:3%;
      left:2.5%;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        color: #e43929;
      }
    }
    &__img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
     height: 270px;
      transition: 0.6s;
      &:hover {
        background-size: 110%;
      }
    }
  }
  .slide__bottom {
   
      padding-top: 85px;
      padding-bottom: 110px;
   
    .container {
      margin-top: 2rem !important;
      margin-left: 18rem !important;
      margin-right: 18rem !important;
      }
  .Slides {
      display: none;
  }
  .img-size {
   width: 85px;
   height: 85px;
   margin-left: 45%;
  }
  .row {
  --bs-gutter-x: 0;
  }
  .img-opacity {
  direction: 'vertical';
  opacity: 0.6;
  cursor: pointer;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  transition: 0.3s;
  }
  .active,
  .img-opacity:hover {
  opacity: 1;
  }
  .rowtext {
  position: absolute;
  color: #f2f2f2;
  background-color: rgba(90, 88, 88, 0.7);
  border-radius: 25%;
  font-size: 14px;
  padding: 7px 12px;
  top: 28%;
  left: 93.5%;
  }
  .prev,
  .next {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 2px;
    margin-top: -50px;
    color: #939393;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10%;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.3s;
  }
  .prev:hover {
      color: #515151;
  }
  .next:hover {
      color: #515151;
  }
  .next {
    right: 0;
    border-radius: 5px 0 0 5px;
  }
  
  p {
    font-family: Lora,serif;
    font-style: italic;
    font-size: 26px;
    color: #4c4949;
    line-height: 1.2em;
  }
  .anime {
      animation-name: anime;
      animation-duration: 2s;
  
  }
  
  @keyframes anime {
      from {opacity: 0.8;} 
      to {opacity: 1;}
  }

  }
  
