$color_1: #1b1b1b;
$color_2: rgb(223, 76, 76);
$font-family_2: 'Montserrat';
$background-color_1: white;
$background-color_2: transparent;

$breakpoint-tablet: 1024px;
@media (max-width: $breakpoint-tablet) {
    body {
        font-size: 12px;
    }

    .category {
        width: 100%;
    }

    .container {
        width: 80%;
        margin: auto;
    }

    h1 {
        color: #0e0e0e;
        margin: 2rem auto;
        padding: 5rem 0;
        font-size: 3rem;
        line-height: 1.4rem;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        background-color: aliceblue;
    }

    .row {
        margin: .625rem - 1rem;
        padding: 8px;

        >.column {
            padding: .5rem;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        button {
            width: 20%;
            margin: 3rem calc((100% - 20%) / 2);
            padding: 1rem;
            background-color: $color_2;
            cursor: pointer;
            border: .1rem solid $color_2;
            color: white;
        }
    }

    .column {
        float: left;
        width: 33.33%;
        display: none;
    }

    .content {
        background-color: $background-color_1;
        margin-bottom: 2rem;

        h6 {
            color: $color_1;
            font-family: $font-family_2;
            margin-top: 1.5rem;
            margin-bottom: .3rem;
            font-size: .8rem;
            font-weight: 500;
            letter-spacing: .1rem;
            text-transform: uppercase;
        }

        a {
            font-family: $font-family_2;
            color: #6d6a6a;
            font-size: .6rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .09rem;
            transition: .5s;

            &:hover {
                color: $color_2;
            }
        }
    }

    a {
        text-decoration: none;
        transition: .5s;

        &:hover {
            filter: grayscale(40%);
        }
    }

    .show {
        display: block;
    }

    .btn {
        border: none;
        outline: none;
        margin-bottom: .8rem;
        padding: .4rem;
        background-color: $background-color_2;
        transition: .5s;
        cursor: pointer;
        color: $color_1;
        font-family: $font-family_2;
        font-size: .7rem;
        line-height: 1.4rem;
        font-weight: 500;
        letter-spacing: .1rem;
        text-transform: uppercase;

        &:hover {
            color: $color_2;
        }
    }

    .btn.active {
        color: $color_2;
    }
}