/*6.SECTION*/
@import "./home_extensions.scss";
@import "./variables.scss";
@import "./home_mixin.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
  }
  body {
    font-size: 16px;
    font-family: $montserrat;
  }

.blog {
    background-color: rgb(240, 240, 240);
    h2, h5 {
      font-family: $playfair__display;
      font-weight: 400;
    }
    &__padding {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    &__img__size {
      width: 95%;
    }
    &__date {
      border: none;
      background-color: white;
      padding: 8px 16px;
      top:3%;
      left:2.5%;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        color: $hover__clr__red;
      }
    }
    &__img {
      @include background__repeat__position__size();
      height: 270px;
      transition: 0.6s;
      &:hover {
        background-size: 110%;
      }
    }
    @media (max-width:576px) {
      .blog {
        height: 100%;
      }
      .blog_resp {
        display: flow-root;
        width: 100%;
        flex-direction: column;
      }
    }
    @media (min-width:576px) and (max-width:768px)  {
      .blog_resp {
        display: flow-root;
        width: 100%;
        flex-direction: column;
      }
    }
    @media (min-width:768px) and (max-width:992px)  {
      .blog_resp {
        width: 33.33%;
        flex-direction: column;
        margin-top: 1rem;
      }
    }
    @media (min-width:992px) and (max-width:1200px)  {
      .blog_resp {
        width: 33.3%;
        flex-direction: column;
      }
    }
    
  }
  