/*4.SECTION*/
@import "./_extensions.scss";
@import "./variables.scss";
@import "./home_mixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
  }
  body {
    font-size: 16px;
    font-family: $montserrat;
  }

.flowers__experts {
    .font__size {
      font-family: $playfair__display;
      font-weight: 400;
      font-size: 38px;
    }
    &__h5__size {
      font-family: $montserrat;
      font-weight: 500;
      font-size: 13px;
    }
  }