@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }
  .about__title {
    width: 100%;
  }
  .about__title__img {
    width: 100%;
    min-height: 26rem;
    background-image: url(../../Images/about_page_images/about_title_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .about__title__img__text {
    flex-direction: column;
  }
  .about__title__img__text h2 {
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #0e0e0e;
    font-family: "Playfair Display", serif;
    padding-bottom: 0.7rem;
    margin-top: 10.4rem;
  }
  .about__title__img__text p {
    color: #6d6a6a;
    font-family: "Lora", serif;
    font-style: italic;
    padding-left: 0.5rem;
  }
  .about__content {
    width: 100%;
  }
  .about__content__text {
    width: 80%;
    margin: auto;
    flex-direction: column;
    margin-top: 7rem;
  }
  .about__content__text h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    line-height: 3.4rem;
    color: #2b2b2b;
  }
  .about__content__text p {
    font-family: serif;
    margin-top: 2rem;
    line-height: 2rem;
    color: #6d6a6a;
  }
  .about__content__text img {
    margin-top: 2rem;
  }
  .about__video {
    width: 100%;
  }
  .about__video__img {
    width: 80%;
    margin: auto;
    min-height: 40rem;
    background-image: url(../../Images/about_page_images/about_video_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.8s;
  }
  .about__video__img:hover {
    background-size: 105%;
    cursor: pointer;
  }
  .about__video__img__play {
    padding: 2.5rem;
    transform: translate(21.5rem, 17.5rem);
    border-radius: 50%;
    background-color: white;
  }
  .about__video__img__play i {
    color: #f34f3f;
  }
  .about__experts {
    width: 100%;
    background-color: aliceblue;
    margin-top: 3rem;
    padding-bottom: 7rem;
  }
  .about__experts__team {
    width: 80%;
    margin: auto;
    flex-direction: column;
  }
  .about__experts__team__title {
    width: 100%;
    margin-top: 7rem;
  }
  .about__experts__team__title h2 {
    color: #2b2b2b;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    line-height: 1.4rem;
  }
  .about__experts__team__content {
    width: 80%;
    margin-top: 3rem;
  }
  .about__experts__team__content p {
    font-family: serif;
    line-height: 1.4rem;
    color: #6d6a6a;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .about__experts__team__imgs {
    width: 100%;
    -moz-column-gap: 10rem;
         column-gap: 10rem;
    margin-top: 4rem;
  }
  .about__experts__team__imgs div {
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .about__experts__team__imgs div h6 {
    font-family: "Montserrat";
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    color: #1b1b1b;
  }
  .about__experts__team__imgs div span {
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: #afafaf;
    margin: 0;
    padding: 0;
  }
  .about__footer {
    width: 100%;
  }
  .about__footer__slider {
    width: 80%;
    margin: auto;
    margin: 6rem auto;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .about__footer__slider p {
    margin-top: 2rem;
    color: #4b4747;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height: 1.7rem;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .about__footer__slider h6 {
    margin-top: 2rem;
    color: #1b1b1b;
    font-family: "Montserrat";
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  .about__footer__slider span {
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: #afafaf;
  }
}/*# sourceMappingURL=about.css.map */