@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
.col__width__1 {
  flex: 0 0 auto;
  width: 8.33%;
}

.col__width__2 {
  flex: 0 0 auto;
  width: 16.67%;
}

.col__width__3 {
  flex: 0 0 auto;
  width: 25%;
}

.col__width__4 {
  flex: 0 0 auto;
  width: 33.33%;
}

.col__width__5 {
  flex: 0 0 auto;
  width: 41.67%;
}

.col__width__6 {
  flex: 0 0 auto;
  width: 50%;
}

.col__width__7 {
  flex: 0 0 auto;
  width: 58.33%;
}

.col__width__8 {
  flex: 0 0 auto;
  width: 66.67%;
}

.col__width__9 {
  flex: 0 0 auto;
  width: 75%;
}

.col__width__10 {
  flex: 0 0 auto;
  width: 83.33%;
}

.col__width__11 {
  flex: 0 0 auto;
  width: 91.67%;
}

.col__width__12 {
  flex: 0 0 auto;
  width: 100%;
}

.marg__left__right {
  margin-left: 8%;
  margin-right: 8%;
}

.justify__content__start {
  justify-content: flex-start;
}

.justify__content__end {
  justify-content: flex-end;
}

.justify__content__center {
  justify-content: center;
}

.justify__content__between {
  justify-content: space-between;
}

.justify__content__around {
  justify-content: space-around;
}

.justify__content__evenly {
  justify-content: space-evenly;
}

.align__items__start {
  align-items: flex-start;
}

.align__items__end {
  align-items: flex-end;
}

.align__items__center {
  align-items: center;
}

.align__content__start {
  align-content: flex-start;
}

.align__content__end {
  align-content: flex-end;
}

.align__content__center {
  align-content: center;
}

.d_flex {
  display: flex;
}

.margin__bt__05 {
  margin-bottom: 0.5rem;
}

.margin__bt__1 {
  margin-bottom: 1rem;
}

.margin__bt__2 {
  margin-bottom: 1.75rem;
}

.margin__bt__3 {
  margin-bottom: 2.5rem;
}

.margin__bt__4 {
  margin-bottom: 3rem;
}

.margin__bt__5 {
  margin-bottom: 4rem;
}

.margin__tp__05 {
  margin-top: 0.5rem;
}

.margin__tp__1 {
  margin-top: 1rem;
}

.margin__tp__2 {
  margin-top: 1.75rem;
}

.margin__tp__3 {
  margin-top: 2.5rem;
}

.margin__tp__4 {
  margin-top: 3rem;
}

.margin__tp__5 {
  margin-top: 4rem;
}

.margin__right__1 {
  margin-right: 0.5rem;
}

.margin__right__2 {
  margin-right: 1rem;
}

.margin__right__3 {
  margin-right: 1.5rem;
}

.margin__right__4 {
  margin-right: 2rem;
}

.margin__right__5 {
  margin-right: 3rem;
}

.margin__left__1 {
  margin-left: 0.5rem;
}

.margin__left__2 {
  margin-left: 1rem;
}

.margin__left__3 {
  margin-left: 1.5rem;
}

.margin__left__4 {
  margin-left: 2rem;
}

.margin__left__5 {
  margin-left: 3rem;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-65 {
  width: 65%;
}

.w-60 {
  width: 60%;
}

.w-55 {
  width: 55%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

.text_red {
  color: #f34f3f;
}

.text_gray {
  color: #6d6a6a;
}

.text_black {
  color: #2b2b2b;
}

.text_white {
  color: white;
}

.position__relative {
  position: relative;
}

.position__absolute {
  position: absolute;
}

.padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.text__center {
  text-align: center;
}

.font__sz__1 {
  font-size: 1rem;
}

.font__sz__2 {
  font-size: 1.25rem;
}

.font__sz__3 {
  font-size: 1.5rem;
}

.font__sz__4 {
  font-size: 1.75rem;
}

.font__sz__5 {
  font-size: 2rem;
}

.font__sz__6 {
  font-size: 2.5rem;
}

.font__sz__7 {
  font-size: 2.75rem;
}

.font__sz__8 {
  font-size: 3rem;
}

.flex__wrap {
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }
  .about__title {
    width: 100%;
  }
  .about__title__img {
    width: 100%;
    min-height: 26rem;
    background-image: url(../../Images/about_page_images/about_title_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .about__title__img__text {
    flex-direction: column;
  }
  .about__title__img__text h2 {
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #0e0e0e;
    font-family: "Playfair Display", serif;
    padding-bottom: 0.7rem;
    margin-top: 10.4rem;
  }
  .about__title__img__text p {
    color: #6d6a6a;
    font-family: "Lora", serif;
    font-style: italic;
    padding-left: 0.5rem;
  }
  .about__content {
    width: 100%;
  }
  .about__content__text {
    width: 80%;
    margin: auto;
    flex-direction: column;
    margin-top: 7rem;
  }
  .about__content__text h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    line-height: 3.4rem;
    color: #2b2b2b;
  }
  .about__content__text p {
    font-family: serif;
    margin-top: 2rem;
    line-height: 2rem;
    color: #6d6a6a;
  }
  .about__content__text img {
    margin-top: 2rem;
  }
  .about__video {
    width: 100%;
  }
  .about__video__img {
    width: 80%;
    margin: auto;
    min-height: 40rem;
    background-image: url(../../Images/about_page_images/about_video_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.8s;
  }
  .about__video__img:hover {
    background-size: 105%;
    cursor: pointer;
  }
  .about__video__img__play {
    padding: 2.5rem;
    transform: translate(21.5rem, 17.5rem);
    border-radius: 50%;
    background-color: white;
  }
  .about__video__img__play i {
    color: #f34f3f;
  }
  .about__experts {
    width: 100%;
    background-color: aliceblue;
    margin-top: 3rem;
    padding-bottom: 7rem;
  }
  .about__experts__team {
    width: 80%;
    margin: auto;
    flex-direction: column;
  }
  .about__experts__team__title {
    width: 100%;
    margin-top: 7rem;
  }
  .about__experts__team__title h2 {
    color: #2b2b2b;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    line-height: 1.4rem;
  }
  .about__experts__team__content {
    width: 80%;
    margin-top: 3rem;
  }
  .about__experts__team__content p {
    font-family: serif;
    line-height: 1.4rem;
    color: #6d6a6a;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .about__experts__team__imgs {
    width: 100%;
    -moz-column-gap: 10rem;
         column-gap: 10rem;
    margin-top: 4rem;
  }
  .about__experts__team__imgs div {
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .about__experts__team__imgs div h6 {
    font-family: "Montserrat";
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    color: #1b1b1b;
  }
  .about__experts__team__imgs div span {
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: #afafaf;
    margin: 0;
    padding: 0;
  }
  .about__footer {
    width: 100%;
  }
  .about__footer__slider {
    width: 80%;
    margin: auto;
    margin: 6rem auto;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .about__footer__slider p {
    margin-top: 2rem;
    color: #4b4747;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height: 1.7rem;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .about__footer__slider h6 {
    margin-top: 2rem;
    color: #1b1b1b;
    font-family: "Montserrat";
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  .about__footer__slider span {
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: #afafaf;
  }
}
@media (max-width: 1024px) {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-size: 12px;
  }
  .faq__title {
    width: 100%;
  }
  .faq__title__img {
    width: 100%;
    min-height: 26rem;
    background-image: url(../../Images/about_page_images/about_title_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .faq__title__img__text {
    flex-direction: column;
  }
  .faq__title__img__text h2 {
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #0e0e0e;
    font-family: "Playfair Display", serif;
    padding-bottom: 0.7rem;
    margin-top: 10.4rem;
  }
  .faq__title__img__text p {
    color: #6d6a6a;
    font-family: "Lora", serif;
    font-style: italic;
    padding-left: 0.5rem;
  }
  .faq__main {
    width: 100%;
  }
  .faq__main__content {
    width: 80%;
    margin: auto;
    margin-top: 7rem;
    flex-direction: column;
    row-gap: 2rem;
  }
  .faq__main__content__text {
    width: 100%;
  }
  .faq__main__content__text div {
    color: #2b2b2b;
    font-size: 1.7rem;
    line-height: 1.7rem;
  }
  .faq__main__content__text div span {
    color: #f34f3f;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.6rem;
  }
  .faq__main__content__text div h3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    padding-left: 0.7rem;
  }
  .faq__main__content__text p {
    color: #6d6a6a;
    margin-top: 1.5rem;
    font-family: "Lora", serif;
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .faq__footer {
    width: 100%;
  }
  .faq__footer__questions {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    flex-direction: column;
    row-gap: 1rem;
  }
  .faq__footer__questions h6 {
    width: 100%;
    font-family: "Montserrat";
    font-size: 0.8rem;
    line-height: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  .faq__footer__questions ul {
    width: 100%;
  }
  .faq__footer__questions ul li {
    list-style-type: none;
    padding: 0.1rem;
  }
  .faq__footer__questions ul li a {
    text-decoration: none;
    transition: 0.5s;
    font-family: "Montserrat", sans-serif;
    color: #8b8b8b;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .faq__footer__questions ul li a:hover {
    color: #f34f3f;
  }
  .faq__footer__questions .form {
    position: relative;
    margin-bottom: 7rem;
  }
  .faq__footer__questions .form__input {
    width: 100%;
    padding: 0.98rem;
    border: 0.4px solid #d4d0d0;
    outline: none;
  }
  .faq__footer__questions .form__button {
    width: 5%;
    padding: 0.7rem;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0.6rem;
    background-color: transparent;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }
  .map {
    width: 100%;
    min-height: 25rem;
  }
  .contact__data {
    width: 100%;
  }
  .contact__data__display {
    width: 80%;
    margin: auto;
    flex-direction: column;
    row-gap: 0.7rem;
    margin: 6rem auto;
    padding-bottom: 4rem;
    background-color: aliceblue;
  }
  .contact__data__display img {
    width: 20%;
    margin-top: 3rem;
  }
  .contact__data__display h2 {
    padding-left: 0.4rem;
    text-align: center;
    -moz-text-align-last: auto;
         text-align-last: auto;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    line-height: 3.4rem;
    color: #2b2b2b;
  }
  .contact__data__display p {
    margin-top: 1.5rem;
    margin-left: 1rem;
    line-height: 1.7rem;
    font-family: "Lora", serif;
    text-align: left;
    -moz-text-align-last: center;
         text-align-last: center;
    color: #6d6a6a;
  }
  .contact__info {
    width: 100%;
  }
  .contact__info__form {
    width: 80%;
    margin: auto;
    margin: 5rem auto;
    flex-direction: column;
    row-gap: 0.6rem;
  }
  .contact__info__form h2 {
    color: #2b2b2b;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    line-height: 1.5rem;
  }
  .contact__info__form p {
    margin: 1rem 0;
    color: #6d6a6a;
    font-family: "Lora", serif;
    line-height: 1.6rem;
  }
  .contact__info__form input {
    width: 100%;
    padding: 1.1rem;
    outline: none;
    border: 0.1rem solid #d4d2d2;
  }
  .contact__info__form textarea {
    width: 100%;
    padding: 1.1rem;
    outline: none;
    border: 0.1rem solid #d4d2d2;
  }
  .contact__info__form button {
    padding: 1.2rem 3.5rem;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    background-color: #f34f3f;
    outline: none;
    border: 0.1rem solid #f34f3f;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    transition: 0.5s;
  }
  .contact__info__form button:hover {
    color: white;
    background-color: #ff3d2a;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }
  .category {
    width: 100%;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  h1 {
    color: #0e0e0e;
    margin: 2rem auto;
    padding: 5rem 0;
    font-size: 3rem;
    line-height: 1.4rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    background-color: aliceblue;
  }
  .row {
    margin: -0.375rem;
    padding: 8px;
  }
  .row > .column {
    padding: 0.5rem;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row button {
    width: 20%;
    margin: 3rem 40%;
    padding: 1rem;
    background-color: rgb(223, 76, 76);
    cursor: pointer;
    border: 0.1rem solid rgb(223, 76, 76);
    color: white;
  }
  .column {
    float: left;
    width: 33.33%;
    display: none;
  }
  .content {
    background-color: white;
    margin-bottom: 2rem;
  }
  .content h6 {
    color: #1b1b1b;
    font-family: "Montserrat";
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  .content a {
    font-family: "Montserrat";
    color: #6d6a6a;
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    transition: 0.5s;
  }
  .content a:hover {
    color: rgb(223, 76, 76);
  }
  a {
    text-decoration: none;
    transition: 0.5s;
  }
  a:hover {
    filter: grayscale(40%);
  }
  .show {
    display: block;
  }
  .btn {
    border: none;
    outline: none;
    margin-bottom: 0.8rem;
    padding: 0.4rem;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
    color: #1b1b1b;
    font-family: "Montserrat";
    font-size: 0.7rem;
    line-height: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  .btn:hover {
    color: rgb(223, 76, 76);
  }
  .btn.active {
    color: rgb(223, 76, 76);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
  align-items: center;
  padding: 2px 0;
}
.navbar img {
  width: 220px;
}
.navbar i {
  font-size: 26px;
  vertical-align: middle;
}
.navbar .cart {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #1b1b1b;
  text-transform: uppercase;
}
.navbar__menu .second__menu {
  position: absolute;
  opacity: 0;
  overflow: auto;
  top: 100%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  left: -1.6rem;
  transition: 0.5s ease-in-out;
  transition-delay: 0.1s;
}
.navbar__menu .second__menu__item {
  display: block;
  width: 210px;
  height: auto;
  text-transform: capitalize;
  font-weight: 500;
}
.navbar__menu .second__menu__item a {
  display: block;
  margin: 0;
  padding: 8px 26px;
  color: #737373;
  font-size: 13px;
  line-height: 19px;
}
.navbar__menu__dropdown {
  position: relative;
  display: flex;
  display: inline;
  text-transform: uppercase;
  margin-right: 2.5rem;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.1em;
  padding: 2rem 0;
}
.navbar__menu__dropdown a {
  text-decoration: none;
  color: #1b1b1b;
}
.navbar__menu__dropdown a span {
  color: #737373;
}
.navbar__menu .second__menu__shop {
  position: absolute;
  opacity: 0;
  overflow: auto;
  top: 100%;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  right: -27rem;
  transition: 0.5s ease-in-out;
  transition-delay: 0.1s;
  padding-left: 2rem;
  padding-right: 2rem;
}
.navbar__menu .second__menu__shop__items {
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  text-transform: none;
  line-height: 1.1em;
  color: #1b1b1b;
  height: 400.188px;
}
.navbar__menu .second__menu__shop__items .shop__pages {
  display: block;
  color: #737373;
  font-size: 13px;
  line-height: 19px;
  display: inline;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}
.navbar__menu .second__menu__shop__items .shop__pages__lists {
  padding: 8px 0;
  display: block;
}
.navbar .right__side__items {
  display: block;
  width: 210px;
  height: auto;
  text-transform: capitalize;
  font-weight: 500;
}

.h1 {
  color: #0e0e0e;
  font-size: 50px;
  line-height: 1.32em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.navbar__menu__dropdown:hover .second__menu {
  opacity: 1;
  z-index: 2;
}

.navbar__menu__dropdown:hover .second__menu__shop {
  opacity: 1;
}

.bottom__line {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.bottom__line::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s;
}

.bottom__line:hover::after {
  width: 100%;
}

.font__size {
  font-size: 10px !important;
}

#search__input {
  display: none;
}

a {
  text-decoration: none;
}

.bg__color {
  background-color: #fafaf9;
  height: 10rem;
}
.bg__color h1 {
  color: #0e0e0e;
  font-size: 50px;
  line-height: 1.32em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-left: 8%;
  margin-right: 8%;
  vertical-align: middle;
  padding-top: 2rem;
}
.bg__color span {
  margin-left: 8%;
  margin-right: 8%;
  vertical-align: middle;
  font-family: Lora, serif;
  font-size: 17px;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0;
  color: #6d6a6a;
}

.columns__row {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  margin-bottom: 105px;
  margin-top: 5rem;
}
.columns__row__left {
  width: 50%;
  padding-right: 3rem;
  display: flex;
}
.columns__row .img {
  display: flex;
  justify-content: end;
  width: 70%;
}
.columns__row .imgs {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 2rem;
  margin-right: 2rem;
}
.columns__row__right {
  width: 50%;
}
.columns__row__right h2 {
  font-size: 38px;
  line-height: 1.447em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.columns__row__right .price {
  color: #afafaf;
}
.columns__row__right .word {
  margin: 23px 0 32px;
  color: #6d6a6a;
  font-size: 15px;
  font-family: "Playfair Display", serif;
}
.columns__row__right .form {
  display: flex;
}
.columns__row__right .form__input {
  vertical-align: middle;
  border: 1px solid #eee;
  box-sizing: border-box;
  line-height: 50px;
  height: 51px;
  padding: 0 22px;
  margin: 0 -0.3em 0 0;
}
.columns__row__right .form__input__title {
  font-size: 12px;
  margin-right: 92px;
  color: #999;
}
.columns__row__right .form__input__icon {
  color: #999;
  font-size: 16px;
}
.columns__row__right .form__input__numbers {
  font-size: 14px;
  width: 27px;
  text-align: center;
}
.columns__row__right .form__btn {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  line-height: 1.833em;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #232323;
  padding: 14px 42px;
  color: #fff;
  border: none;
}
.columns__row__right .product__meta {
  margin: 32px 0 0;
}
.columns__row__right .product__meta .sku__wrapper {
  display: block;
  color: #2b2b2b;
  font-weight: 500;
  margin: 0 0 7px;
  font-size: 12px;
}
.columns__row__right .product__meta .sku__wrapper .sku {
  color: #8b8b8b;
  font-weight: 500;
  font-size: 12px;
}

.border__bottom__div {
  border-bottom: 1px solid #eee;
}
.border__bottom__div .commers {
  margin-left: 8%;
  margin-right: 8%;
}
.border__bottom__div .commers .tabs {
  display: flex;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.border__bottom__div .commers .tabs__description {
  background-color: #f34f3f;
  display: flex;
}
.border__bottom__div .commers .tabs__description a {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #eee;
  padding: 15px 47px;
  color: #fff;
}
.border__bottom__div .commers .tabs__additional {
  display: flex;
}
.border__bottom__div .commers .tabs__additional a {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #eee;
  padding: 15px 47px;
  color: #0e0e0e;
}
.border__bottom__div .commers .tabs__review {
  display: flex;
}
.border__bottom__div .commers .tabs__review a {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #eee;
  padding: 15px 47px;
  color: #0e0e0e;
}

.description {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 4rem;
}
.description__titles {
  font-size: 30px;
  line-height: 1.4em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.description__text {
  color: #6d6a6a;
  margin: 14px 0 0;
  line-height: 1.6em;
  font-family: "Playfair Display", serif;
  margin-bottom: 5rem;
}

.related__products {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5rem;
}
.related__products h2 {
  margin: 87px 0 24px;
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.related__products__columns {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 20px;
  margin: 0 0 40px;
}

.column__img {
  position: relative;
  width: 100%;
  gap: 1rem;
}
.column__img .on__sale {
  position: absolute;
  color: #2b2b2b;
  background: #fff;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px 0 0 12px;
  padding: 5px 13px;
  z-index: 100;
}

.column__text {
  margin: 20px 0 0;
  text-align: center;
}
.column__text h6 a {
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.column__text span {
  margin: 4px 0 0;
  line-height: 1;
  color: #afafaf;
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=home.css.map */