* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.bg__color {
  background-color: #fafaf9;
  height: 10rem;
}
.bg__color h1 {
  color: #0e0e0e;
  font-size: 50px;
  line-height: 1.32em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-left: 8%;
  margin-right: 8%;
  vertical-align: middle;
  padding-top: 2rem;
}
.bg__color span {
  margin-left: 8%;
  margin-right: 8%;
  vertical-align: middle;
  font-family: Lora, serif;
  font-size: 17px;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0;
  color: #6d6a6a;
}

.columns__row {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  margin-bottom: 105px;
  margin-top: 5rem;
}
.columns__row__left {
  width: 50%;
  padding-right: 3rem;
  display: flex;
}
.columns__row .img {
  display: flex;
  justify-content: end;
  width: 70%;
}
.columns__row .imgs {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 2rem;
  margin-right: 2rem;
}
.columns__row__right {
  width: 50%;
}
.columns__row__right h2 {
  font-size: 38px;
  line-height: 1.447em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.columns__row__right .price {
  color: #afafaf;
}
.columns__row__right .word {
  margin: 23px 0 32px;
  color: #6d6a6a;
  font-size: 15px;
  font-family: "Playfair Display", serif;
}
.columns__row__right .form {
  display: flex;
}
.columns__row__right .form__input {
  vertical-align: middle;
  border: 1px solid #eee;
  box-sizing: border-box;
  line-height: 50px;
  height: 51px;
  padding: 0 22px;
  margin: 0 -0.3em 0 0;
}
.columns__row__right .form__input__title {
  font-size: 12px;
  margin-right: 92px;
  color: #999;
}
.columns__row__right .form__input__icon {
  color: #999;
  font-size: 16px;
}
.columns__row__right .form__input__numbers {
  font-size: 14px;
  width: 27px;
  text-align: center;
}
.columns__row__right .form__btn {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  line-height: 1.833em;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #232323;
  padding: 14px 42px;
  color: #fff;
  border: none;
}
.columns__row__right .product__meta {
  margin: 32px 0 0;
}
.columns__row__right .product__meta .sku__wrapper {
  display: block;
  color: #2b2b2b;
  font-weight: 500;
  margin: 0 0 7px;
  font-size: 12px;
}
.columns__row__right .product__meta .sku__wrapper .sku {
  color: #8b8b8b;
  font-weight: 500;
  font-size: 12px;
}

.border__bottom__div {
  border-bottom: 1px solid #eee;
}
.border__bottom__div .commers {
  margin-left: 8%;
  margin-right: 8%;
}
.border__bottom__div .commers .tabs {
  display: flex;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.border__bottom__div .commers .tabs__description {
  background-color: #f34f3f;
  display: flex;
}
.border__bottom__div .commers .tabs__description a {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #eee;
  padding: 15px 47px;
  color: #fff;
}
.border__bottom__div .commers .tabs__additional {
  display: flex;
}
.border__bottom__div .commers .tabs__additional a {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #eee;
  padding: 15px 47px;
  color: #0e0e0e;
}
.border__bottom__div .commers .tabs__review {
  display: flex;
}
.border__bottom__div .commers .tabs__review a {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #eee;
  padding: 15px 47px;
  color: #0e0e0e;
}

.description {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 4rem;
}
.description__titles {
  font-size: 30px;
  line-height: 1.4em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.description__text {
  color: #6d6a6a;
  margin: 14px 0 0;
  line-height: 1.6em;
  font-family: "Playfair Display", serif;
  margin-bottom: 5rem;
}

.related__products {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5rem;
}
.related__products h2 {
  margin: 87px 0 24px;
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.related__products__columns {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 20px;
  margin: 0 0 40px;
}

.column__img {
  position: relative;
  width: 100%;
  gap: 1rem;
}
.column__img .on__sale {
  position: absolute;
  color: #2b2b2b;
  background: #fff;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px 0 0 12px;
  padding: 5px 13px;
  z-index: 100;
}

.column__text {
  margin: 20px 0 0;
  text-align: center;
}
.column__text h6 a {
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.column__text span {
  margin: 4px 0 0;
  line-height: 1;
  color: #afafaf;
  font-size: 13px;
}/*# sourceMappingURL=shop__products__standard.css.map */